extends ../layouts/app

block content
    .container
        section.login-section
            form.form.login-form(action="/login", method="POST")
                .form-group
                    label.form-label(for="email") User Email
                    input.form-control(type="email" name="email" id="email" placeholder="Enter User email...")
                .form-group
                    label.form-label(for="password") User Password
                    input.form-control(type="password" name="password" id="password" placeholder="*********")
                button.btn.btn__login(type="submit") Login Now
            