extends ../layouts/app

block content
    .container
        section.admin-section 
            header.admin-header
                h2 Admin Section | #{title}
                nav.admin-nav
                    a.nav-link(href="/admin/kitchen") View Kitchen
                    a.nav-link(href="/admin/orders") View Orders
                    a.nav-link(href="/admin/users") View All Users

        block admin-nav

    
block footer 
    