extends ../layouts/app

block content 
    .container
        h2.heading-primary Welcome to Madam Sauce's
        .food-cards
            each food in foods
                .food-card
                    .food-card__body
                        img.food-img(src=`/img/foods/${food.photo}` style={ width: '100%' })
                    .food-card__footer
                        .cta
                            h3.title=food.name.toUpperCase()
                        .info
                            p.price= `NGN ${food.price}`
                            a.btn.btn__cta(href=`/foods/${food.slug}`) Place Order


        