extends ../layouts/app

block content 
    .container
        h2.title Make An Order Now
        .order-section
            .order-info
                form.order-form(method="POST" action="/orders/create")
                    .form-group
                        label(for="name") Food Name
                        input.form-control(type="text", name="name", id="name" readonly="readonly" value=`${food.name}`)
                    .form-group
                        label(for="address") Delivery Address 
                        input.form-control(type="text", name="address", id="address", placeholder="Enter delivery address")
                    button.btn.btn__order(type="submit") Order Now
            .order-item
                .item
                    h3.item__title= food.name
                    p.item__price= `NGN ${food.price}`
                    img.item__image(src="/img/foods/food-1.jpg" style={ width: '100%' })
                    p.item__description=food.description
                